beautifulsoup4==4.10.0
gensim==4.1.2
numpy==1.21.3
nltk==3.6.5
spacy==3.2.2
matplotlib==3.5.1
newspaper3k==0.2.8
openpyxl==3.0.9
python-dotenv==0.19.2
pyldavis==3.3.1
pandas==1.2.5
scikit-learn==1.0.2
selenium==4.1.2
fuzzywuzzy==0.18.0
wordcloud==1.8.1
https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.2.0/pt_core_news_lg-3.2.0.tar.gz#egg=pt_core_news_lg
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0.tar.gz#egg=en_core_web_lg